[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dbispipeline = {git = "ssh://git@git.uibk.ac.at/dbis/software/dbispipeline"}
librosa = "*"

[requires]
python_version = "3.6"
